---
import BaseLayout from '../layouts/BaseLayout.astro';
import LinksSocial from '../components/LinksSocial.astro';
---
<BaseLayout pageTitle="Cait Nguyen - Contact">
    <h1>want to reach me?</h1>
    <LinksSocial />
</BaseLayout>