---
import '../styles/global.css';
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
---
<html>
    <Navigation />
    <body>
	    <h1>want to reach me?</h1>
    <Footer />
    </body>
</html>