---
import BaseLayout from '../layouts/BaseLayout.astro';
const imageSrc0 = "/000740900006.jpg";
const imageSrc1 = "/000740910013.jpg";
const imageSrc2 = "/IMG_8989-2.jpg";
---

<BaseLayout pageTitle="Cait Nguyen - Creative Content & Friends">
    <section class="extras-title">
        <div class="extras-title-content">
          <h1>Say hello to my creative projects and talented friends!</h1>
          <p>
            <!-- The website you're seeing now is a project that I've been working on from scratch!
            As someone very unfamiliar with webdev, this is my first foray into this type of project.  -->
            Keep scrolling to see a sample of my photography and a list of my wonderful friends.
          </p>
        </div>
        <img src={imageSrc0} alt="">
      </section>

      <hr class="section-divider">

  <section class="extras-content">
    <div class="extrastext-content">
      <h1>Creative Corner: Analog Photography</h1>
      <p>
        I have been shooting film for a couple years now, and you can find examples of my photos on my <a href="https://www.instagram.com/myhalocline/" target="_blank" class="link">Instagram</a> account.
        This photo of UCLA's Royce Hall was taken during the golden hour of a beautiful LA day with a 35mm camera.
      </p>
    </div>
    <img src={imageSrc1} alt="35mm film photo of UCLA's Royce Hall.">
  </section>

  <hr class="section-divider">

  <section class="extras-content">
    <img src={imageSrc2} alt="">
	<div class="extrastext-content">
    	<h1>Creative Corner: Digital Photography</h1>
		<p>
			I also feature my digital photos on my <a href="https://www.instagram.com/myhalocline/" target="_blank" class="link">Instagram</a> account!
            This particular picture was taken at the stunning Hakone Gardens in Saratoga, CA, on a Sony Alpha 7ii.
		</p>
	</div>
	</section>

	<hr class="section-divider">
	<section class="extras-content">
		<div class="extrastext-content">
			<h1>My wonderful friends (ordered by graduating year):</h1>
			<ul class="bullet-list">
                <li><b>Abinav Kannan</b> — UCLA Mechanical Engineering BS '23, UCLA MS '26 </li>
                    <ul class="sub-list">
                        <li>Former Makerspace technician and Bruin Underwater Robotics subteam lead.</li>
                    </ul>
                <li><b>Tim Kanarsky</b> — UCLA Computer Science, Math BS '23, Tesla in CA </li>
                <ul class="sub-list">
                    <li>A former Makerspace technician, an outstanding robotics and software engineer.</li>
                </ul>
				<li><b>Ava Ankenbrandt</b> — UCLA Electrical Engineering BS '24, Starbase in TX </li>
                    <ul class="sub-list">
                        <li>A talented CAD-er with an inventive mind, jack of all trades and master of them too. 3D printer extraordinaire.</li>
                    </ul>
                <li><b>Julie Cover</b> — UCLA Computer Engineering BS '24, Microsoft in WA </li>
                    <ul class="sub-list">
                        <li>An invaluable wealth of ML and webdev knowledge and the inspiration for the creation of this site.</li>
                    </ul>
                <li><b>Kat Nasif</b> — UCLA Computer Engineering BS '24, Viasat in CA </li>
                    <ul class="sub-list">
                        <li>Marathon runner, guitarist, writer, and, of course, a wonderful software engineer.</li>
                    </ul>
                <li><b>Cathy Wang</b> — UT Austin Mechanical Engineering BS '24, UCSB MS '26 </li>
                    <ul class="sub-list">
                        <li>A respected leader, an inspiration, and a hard worker in all fields.</li>
                    </ul>
                <li><b>Jake Caligiuri</b> — UCD Biochemistry and Molecular Biology BS '24 </li>
                    <ul class="sub-list">
                        <li>Organic chemistry lover, and one of the best machinists I know.</li>
                    </ul>
                <li><b>Ruth Torrence</b> — UCLA Materials Engineering BS '25, Entegris in MA </li>
                    <ul class="sub-list">
                        <li>A Makerspace supervisor technician, the heart and glue of any group, and semiconductor savant.</li>
                    </ul>
                <li><b>Swetha Palakur</b> — UCLA Mechanical Engineering BS '25, Starbase in TX </li>
                    <ul class="sub-list">
                        <li>A former Makerspace technician and impressive engineer with an uplifting attitude.</li>
                    </ul>
                <li><b>Jeremy Huang</b> — UCB Mechanical Engineering BS '25 </li>
                    <ul class="sub-list">
                        <li>An accomplished engineer and wholly creative wood carver and artist.</li>
                    </ul>
                <li><b>Giselle Brown</b> — UCLA Chemistry BS '25 </li>
                    <ul class="sub-list">
                        <li>A published researcher and president of SAGE @ UCLA.</li>
                    </ul>
                <!-- <li><b>Ella Jenkins</b> — UCLA Biology '25 </li> -->
                <li><b>Vivian Le</b> — UCLA CS Ling BS '25, In-Q-Tel in DC </li>
                    <ul class="sub-list">
                        <li>A ML and AI researcher for decision-making LLMs, studying why we like these models to begin with.</li>
                    </ul>
                <li><b>Allison Byrnes</b> — CU Boulder Aerospace Engineering BS '26 </li>
                    <ul class="sub-list">
                        <li>A brilliant controls engineer with an even more brilliant eye for photography, is always ready to launch rockets.</li>
                    </ul>
                <li><b>Genevieve Chin</b> — UCLA Computer Science BS '26 </li>
                    <ul class="sub-list">
                        <li>Dedicated QWERHacks director, Makerspace lead technician, Major League Hacking Coach.</li>
                    </ul>
                <li><b>Yuna Shegai</b> — UCLA Psychology and Anthropology BA '26 </li>
                    <ul class="sub-list">
                        <li>A compassionate, genuine, and caring developmental paraprofessional and researcher. A talented artist and creator.</li>
                    </ul>
                <li><b>Rebecca Meshenberg</b> — University of Edinburgh Mechanical Engineering BS '26</li>
                    <ul class="sub-list">
                        <li>A natural machinist, rocket engineer, former Mechanical Director of our high school robotics team.</li>
                    </ul>
                <li><b>Sydney Terry</b> — UCLA Electrical Engineering BS '26 </li>
                    <ul class="sub-list">
                        <li>Bruin Racing Baja Electronics Lead, talented designer, and exemplary leader.</li>
                    </ul>
                <li><b>Fiona Wong</b> — UCLA Electrical Engineering BS '26 </li>
                    <ul class="sub-list">
                        <li></li>
                    </ul>
                <li><b>Cameron Leary</b> — UCLA Electrical Engineering, Physics BS '26 </li>
                    <ul class="sub-list">
                        <li>A physicist at heart and a natural academic.</li>
                    </ul>
                <li><b>Sofia Byun</b> — UCLA Psychology BA '26 </li>
                    <ul class="sub-list">
                        <li>A preschool teaching assistant with a focus on primary education.</li>
                    </ul>
                <li><b>Page Murray</b> — USC Game & Interactive Media Design BfA '26 </li>
                    <ul class="sub-list">
                        <li>An out-of-the-box thinker, co-developer of the game Scrapped, available on Steam.</li>
                    </ul>
                <li><b>Kayla Kelly</b> — UCM Cellular and Molecular Biology BS '26 </li>
                    <ul class="sub-list">
                        <li></li>
                    </ul>
                <li><b>Anika Chukkapalli</b> — Hofstra University Neuroscience BS, Biochemistry minor '26 </li>
                    <ul class="sub-list">
                        <li></li>
                    </ul>
                <li><b>Mel Conti Chen</b> — UCSD Physics BS '26 </li>
                    <ul class="sub-list">
                        <li></li>
                    </ul>
                <li><b>Ryan Pham</b> — UCLA Mechanical Engineering BS '26 </li>
                    <ul class="sub-list">
                        <li></li>
                    </ul>
                <li><b>Alia Arafeh</b> — NYU Political Science BA '26 </li>
                    <ul class="sub-list">
                        <li>A Model UN </li>
                    </ul>
			  </ul>
		</div>
	</section>

  <style>
	h1{
		margin: 0rem;
	}
	.section-divider {
      width: 100%;
      margin: 0rem 0;
      border: none;
      height: 2px;
      background-color: #ccc; 
    }
    .extras-title {
          max-width: 1200px;
          margin: 0 auto;
          padding: 2rem;
          text-align: center; /* Center the entire content */
          display: flex;
          flex-direction: column;
          align-items: center; /* Align the content center */
          gap: 2rem;
        }
        .extras-title-content {
          font-size: 1.25rem;
          text-align: center;
        }
    .extras-title img{
         max-width: 100%;
      height: auto;
      object-fit: cover;
      border-radius: 10px;
    }

    .link {
      color: #729dcf;
      text-decoration: none;
      font-weight: bold;
    }

    .link:hover {
      text-decoration: underline;
    }
	.bullet-list {
      list-style-type: disc; 
      margin-left: 20px; 
      padding-left: 10px; 
      font-size: 1.2rem;
    }

    .bullet-list li {
      margin-bottom: 0.25rem; /* Adds space between items */
    }

    .sub-list {
  list-style: none; /* Remove default bullets */
  margin-left: 1rem; /* Indent for clarity */
  padding-left: 0.5rem;
  font-size: 1rem;
}

.sub-list li::before {
  content: "✦"; /* ASCII star */
  /* color: #FFD700; Gold star color */
  font-size: 1rem;
  padding-right: 0.5rem; /* Space between star and text */
}
    .extras-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;
      max-width: 1200px;
      margin: 0 auto;
      padding: 1rem;
    }

    .extrastext-content {
      flex: 1;
	  font-size: 1.25rem;
      text-align: left;
    }

    .extras-content img {
      max-width: 50%;
      height: auto;
      object-fit: cover;
      border-radius: 10px; /* styling */
    }

    /* stack on smaller screens */
    @media (max-width: 768px) {
        h1 {
			font-size: 2rem;
		}
      .extras-content {
        flex-direction: column-reverse;
        text-align: center;
      }
      .extras-title img {
        max-width: 100%;
      }
      .extras-content img {
        max-width: 100%;
      }
    }
  </style>
</BaseLayout>