<style>
    footer {
      display: fit;
      gap: 1rem;
      margin-top: 2rem;
      line-height: .7;
    }
    footer hr {
  width: 100%;
  border: none;
  height: 2px; /* Adjust thickness */
  background-color: #ccc; /* Adjust color */
  margin: 1rem 0; /* Adjust spacing */
}
  </style>

<footer>
  <hr>
    <p>&#169; 2025 Caitlin Nguyen</p>
    <p>this site reflects my views and my views only.</p>
</footer>