<style>
    footer {
      display: fit;
      gap: 1rem;
      margin-top: 2rem;
      line-height: .3;
    }
  </style>

<footer>
    <p>&#169; 2025 Caitlin Nguyen</p>
    <p>this site reflects my views and my views only.</p>
</footer>

  