---
import Hamburger from './Hamburger.astro';
import Navigation from './Navigation.astro';
---
<!-- <header>
  <nav>
    <Hamburger />
    <Navigation />
  </nav>
</header> -->

<header>
    <h1>cait nguyen</h1>
    <nav>
        <Hamburger />
        <Navigation />
    </nav>
  </header>

  <style>
    header {
      border: 2px solid rgb(0, 0, 0);
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;
      background: #3b403c;
      color: white;
      width: 100%; /* Adjusts width to 90% of the viewport */
      margin: 0 auto; /* Centers it */
    }
  </style>