---

---
<style>
    a {
      padding: 1rem 1rem;
      color: white;
      background-color: #3f3838;
      text-decoration: none;
      font-weight: bold;
    }
  </style>

<socialinks>
    <a href={`mailto:caitnguyen@ucla.edu}`}>{'Email'}</a>
    <a href={`mhttps://www.linkedin.com/in/caitlin-nguyen-5b8a36244/}`}>{'LinkedIn'}</a>
</socialinks>