---

---
<style>
    a {
      padding: 0.5rem 1rem;
      color: white;
      background-color: #273228;
      text-decoration: none;
    }
  </style>

<socialinks>
    <a href={`mailto:caitnguyen@ucla.edu}`}>{'email'}</a>
    <a href={`mhttps://www.linkedin.com/in/caitlin-nguyen-5b8a36244/}`}>{'linkedin'}</a>
</socialinks>